body {
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 100%;
}
/* 入力のテーブル */
table {
    border-collapse: collapse;
  }

p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 40px;
    
  }
   
  input[type="submit"],
  input[type="text"],
  select,
  textarea,
  button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
  }
   
   
  input[type="text"],
  textarea {
    background: #f8f8f8;
    display: block;
    font-size: 16px;
    padding: 12px 15px;
    width: 480px;
    transition: 0.8s;
    border-radius: 0;
  }
   
  input[type="text"]:focus,
  textarea:focus {
    background: #e9f5fb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
   
  textarea[name="content"] {
    display: inline-block;
    width: 100%;
    height: 200px;
  }
   
  input::placeholder,
  textarea::placeholder {
    color: #ccc;
  }
   
  ::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1;
  }
   
  ::-moz-placeholder {
    color: #ccc;
    opacity: 1;
  }
   
  :-ms-input-placeholder {
    color: #ccc;
    opacity: 1;
  }
   
  .form-table {
    width: 100%;
  }
   
  .form-table th,
  .form-table td {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 20px;
  }
   
  .form-table th {
    background:#fd9535;
    padding-left: 50px;
    position: relative;
    text-align: left;
    width: 300px;
  }

/*オレンジボタン*/
.btn-square-so-pop {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #d27d00;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00;/*線色*/
  }
  
  .btn-square-so-pop:active {
    /*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
/* 一覧表示用*/
table.list {
    width: 100%;
}

table.list tr:nth-child(even) {
    background-color: rgba(185, 112, 3, 0.24);
}

table.list th {
    padding: 0.5em;
    background-color: #fd9535;
}

table.list td {
    padding: 0.5em;
    vertical-align: top;
}

.koumoku {
    color: #fff;
    text-shadow: 0.1px #000;
    -webkit-text-stroke: 0.2px #000;
}
